.container-full{
    width: 100%;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}
/**HERO*/
#hero{
    min-height: 650px;
    background-size: 650px auto;
    background:  url("./../img/bg-hero.png") no-repeat center;

}
/*PORTFOLIO*/
/*ABOUT*/
/*CONTACT*/
/*FOOTER*/
