@font-face {
    font-family: 'big_johnregular';
    src: url('./../fonts/bigjohn-webfont.woff2') format('woff2'),
    url('./../fonts/bigjohn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'slim_joeregular';
    src: url('./../fonts/slimjoe-webfont.woff2') format('woff2'),
    url('./../fonts/slimjoe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.container-full{
    width: 100%;

}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}
.cta {
    display: block;
    cursor: pointer;
    height: 40px;
    width: 140px;
    background-color: transparent;
    border: solid 2px black;
    color: #000;
    border-radius: 3px;
    margin: 0 auto;
}
/**HERO*/
#hero{
    min-height: 650px;
    background-size: 650px auto;
    background:  url("./../img/bg-hero.png") no-repeat center;

}
a {
    text-decoration: none;
}
a, a:focus,
a:active,
a:visited {
    color: black;
}

/*header*/

header {
    padding: 40px 0px;
    height: 180px;
    width: 100%;
}
.header__menu {
    display: inline-block;
    list-style: none;
    font-size: 0;
    padding-left: 0;
    vertical-align: top;
    margin-top: 43px;
    float: right;
}
.header__logo {
    display: inline-block;
    background: url("./../img/foliac-logo.png") no-repeat ;
    height: 100px;
    width: 175px;
}
.menu__item {
    display: inline-block;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Lato, Arial, sans-serif;
    color: white;
    position: relative;
}
.menu__item:after {
    content: '/';
    color: #6f7a86;
    position: absolute;
    top: 0;
    right: 0;
}
.header__menu a:last-child:after li {
    padding-right: 0;
}
.header__menu a:last-child li:after {
    content: '';
}
.container__description {
    width: 100%;

}
.description__title {
    font-family: big_johnregular, Arial, sans-serif;
    font-size: 46px;
    color: white;
    text-align: center;
}
.description__text{
    font-family: slim_joeregular, Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 45px;
}
.description__cta {
    border-color: #48bf72;
    color: #48bf72;
    font-family: Lato, Arial, sans-serif;
    font-text: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
footer {
    height: 204px;
    width: 100%;
    background-color: #3c4955;
}

/*PORTFOLIO*/
/*ABOUT*/
/*CONTACT*/
/*FOOTER*/
